<% content_for(:styles) do -%>
  <%= stylesheet_link_tag 'strangers/home' %>
<% end -%>
<% content_for(:styles_ie7) do -%>
  <%= stylesheet_link_tag 'strangers/home_ie7' %>
<% end -%>
<% content_for(:scripts) do -%>
  <%= javascript_include_tag 'jquery', 'hoverlight', 'strangers/home', :cache => 'cache/strangers/home' %>
<% end -%>
<div id="page-wrapper">
  <div class="section" id="section-1"><div class="section-inner">
    <h1><%= image_tag 'strangers/home/logo-tagline.png', :alt => 'TypeFront' %></h1>
    <h2>We host your fonts<br/>so that you can include them<br/>in your web sites</h2>
    <%= link_to image_tag('strangers/home/get-started.png', :alt => 'Get started'), pricing_url, :class => 'get-started' %>
    <div id="or">or</div>
    <%= link_to image_tag('strangers/home/login.png', :alt => 'Login'), login_url, :class => 'login' %>
  </div></div>

  <div class="section-heading" id="section-2-heading">
    <h3>How does it work?</h3>
  </div>
  <div class="section" id="section-2"><div class="section-inner">
    <div id="upload">
      <%= image_tag 'strangers/home/upload.png', :alt => 'Upload a font file' %><br/>
      <p>Upload a font you have already bought under a web-friendly license.</p>
    </div>
    <div id="domains">
      <%= image_tag 'strangers/home/domains.png', :alt => 'Allow your domains' %>
      <p>Add the domain names<br/>of your web sites.</p>
    </div>
    <div id="include">
      <%= image_tag 'strangers/home/include.png', :alt => 'Include with CSS' %>
      <p>Cut and paste the code that will allow you to call upon your font in CSS.</p>
    </div>
    <%= link_to 'Learn more &raquo;', features_url, :id => 'learn-more-link' %>
  </div></div>

  <div class="section-heading" id="section-3-heading">
    <h3>Who is this for?</h3>
  </div>
  <div class="section" id="section-3"><div class="section-inner">
      <div class="left-col">
        <h4>Repressed web typographers</h4>
        <p>
          TypeFront is for designers who are looking to take advantage
          of the new wave of downloadable font support in browsers
          &ndash; without serving their valuable font files from a place
          that any other web site can include them from.
        </p>
        <p>
          TypeFront serves as a convenient bucket for your font files that
          gives you control over the domains that they are allowed to be used
          on.
        </p>
      </div>
      <div class="right-col">
        <h4>Forward-thinking font sellers</h4>
        <p>
          TypeFront provides an API interface that allows you to integrate
          our platform into your site, allowing you to offer hosted options
          to your customers.
        </p>
        <p>
          With control over access to the hosted fonts, you can offer a wider
          range of pricing options to your customers, for example once-off,
          per-domain and subscription.
        </p>
        <p><%= link_to 'Check out the API documentation &raquo;', documentation_index_url %></p>
      </div>
  </div></div>

  <div class="section-heading" id="section-4-heading">
    <h3>Works on</h3>
  </div>
  <div class="section" id="section-4"><div class="section-inner">
    <div>
      <div id="ie" class="browser">
        <%= image_tag 'strangers/home/ie.png', :alt => 'Microsoft Internet Explorer' %><br/>
        <p>Internet Explorer 6+</p>
      </div>
      <div id="firefox" class="browser">
        <%= image_tag 'strangers/home/firefox.png', :alt => 'Mozilla Firefox' %><br/>
        <p>Firefox 3.5+</p>
      </div>
      <div id="safari" class="browser">
        <%= image_tag 'strangers/home/safari.png', :alt => 'Apple Safari' %><br/>
        <p>Safari 3.2+</p>
      </div>
      <div id="chrome" class="browser">
        <%= image_tag 'strangers/home/chrome.png', :alt => 'Google Chrome' %><br/>
        <p>Chrome 2+</p>
      </div>
      <%= link_to image_tag('strangers/home/get-started.png', :alt => 'Get started'), pricing_url, :class => 'get-started' %>
    </div>
  </div></div>
</div>
<div id="footer"><div class="footer-inner">
  <%= render :partial => 'layouts/footer' %>
</div></div>
