<% @title = "Sign up" %>
<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'strangers/pricing' %>
<% end %>
<div id="page-wrapper">
  <div id="page">
    <%= link_to image_tag('layouts/standard/logo.png', :alt => 'TypeFront'), home_url, :id => 'logo' %>
    <h1><%= @changing_plans ? "Change your plan" : "Pricing options" %></h1>
    <div id="plans">
      <div class="plan" id="business">
        <h2>Business</h2>
        <p class="price">contact us for pricing</p>
        <div class="features">
          <p>unlimited fonts and requests</p>
        </div>
        <%= link_to 'Contact us', 'mailto:business.sales@typefront.com?subject=Business plan enquiry' %>
      </div>
      <div class="plan" id="power">
        <h2>Power</h2>
        <p class="price">$<%= User::PLANS[User::POWER][:amount] %>/month</p>
        <div class="features">
          <p>unlimited fonts hosted</p>
          <p><%= User::PLANS[User::POWER][:requests_allowed] %> requests per day</p>
        </div>
        <% if @changing_plans && (User::POWER != current_user.subscription_level) %>
          <% form_tag modify_subscription_url do %>
            <%= hidden_field_tag 'user[subscription_level]', User::POWER %>
            <% label = (User::POWER > @user.subscription_level) ? 'Upgrade' : 'Downgrade' %>
            <div><%= submit_tag label, :class => 'submit' %></div>
          <% end %>
        <% elsif !@changing_plans %>
          <%= link_to 'Sign up', signup_with_plan_url(:subscription_level => User::POWER) %>
        <% else %>
          <%= link_to 'Go back', account_url %>
        <% end %>
      </div>
      <div class="plan" id="plus">
        <h2>Plus</h2>
        <p class="price">$<%= User::PLANS[User::PLUS][:amount] %>/month</p>
        <div class="features">
          <p><%= User::PLANS[User::PLUS][:fonts_allowed] %> fonts hosted</p>
          <p><%= User::PLANS[User::PLUS][:requests_allowed] %> requests per day</p>
        </div>
        <% if @changing_plans && (User::PLUS != current_user.subscription_level) %>
          <% form_tag modify_subscription_url do %>
            <%= hidden_field_tag 'user[subscription_level]', User::PLUS %>
            <% label = (User::PLUS > @user.subscription_level) ? 'Upgrade' : 'Downgrade' %>
            <div><%= submit_tag label, :class => 'submit' %></div>
          <% end %>
        <% elsif !@changing_plans %>
          <%= link_to 'Sign up', signup_with_plan_url(:subscription_level => User::PLUS) %>
        <% else %>
          <%= link_to 'Go back', account_url %>
        <% end %>
      </div>
      <div class="plan" id="free">
        <h2>Free</h2>
        <p class="price">try it out</p>
        <div class="features">
          <p><%= User::PLANS[User::FREE][:fonts_allowed] %> fonts hosted</p>
          <p><%= User::PLANS[User::FREE][:requests_allowed] %> requests per day</p>
        </div>
        <% if @changing_plans && (User::FREE != current_user.subscription_level) %>
          <% form_tag modify_subscription_url do %>
            <%= hidden_field_tag 'user[subscription_level]', User::FREE %>
            <% label = (User::FREE > @user.subscription_level) ? 'Upgrade' : 'Downgrade' %>
            <div><%= submit_tag label, :class => 'submit', :confirm => 'You will now be redirected to PayPal to cancel your subscription. Note that this will not cancel or delete your TypeFront account, it will merely cancel your paying subscription.' %></div>
          <% end %>
        <% elsif !@changing_plans %>
          <%= link_to 'Sign up', signup_with_plan_url(:subscription_level => User::FREE) %>
        <% else %>
          <%= link_to 'Go back', account_url %>
        <% end %>
      </div>
      <p id="currency-reminder">
        All prices are in US dollars
      </p>
    </div>
    <% if @changing_plans %>
      <p class="question">What happens if I am already on a paying plan and I upgrade halfway through the month?</p>
      <p class="answer">We won't bother charging you the increased rate until next month. You will, however, enjoy the increased usage limits straight away.</p>
    <% else %>
      <p class="question">Can I upgrade, downgrade or cancel later?</p>
      <p class="answer">You sure can. TypeFront is a month-to-month service, so you can upgrade, downgrade or cancel at any time.</p>
      <p class="question">What happens if I exceed my allowance for daily requests? Will my site's fonts crash and burn?</p>
      <p class="answer">No, we will never just cut off your access to your fonts without consulting you. If you are consistently exceeding your quota, we'll be in contact with you to discuss alternate plans that may be more suitable for your usage.</p>
    <% end %>
  </div>
</div>
<div id="footer">
  <%= render :partial => 'layouts/footer' %>
</div>
