<% @title = "Sign up" %>
<% @omit_sidebar = true %>
<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'users/new' %>
<% end %>
<% content_for(:scripts) do %>
  <%= javascript_include_tag 'jquery', 'common/forms', :cache => 'cache/users/new' %>
<% end %>
<h1>Sign up</h1>
<% form_for @user, :html => { :id => 'new-user-form' } do |form| %>
  <fieldset>
    <div>
      <%= form.label :email, nil, :class => 'text' %>
      <%= form.text_field :email, :class => 'text' %>
      <div class="required">* <span>(required)</span></div>
      <%= error_message_on @user, :email, :prepend_text => 'Email address ' %>
    </div>
    <div>
      <%= form.label :password, nil, :class => 'text' %>
      <%= form.password_field :password, :class => 'text' %>
      <div class="required">*</div>
      <%= error_message_on @user, :password, :prepend_text => 'Password ' %>
    </div>
    <div>
      <%= form.label :password_confirmation, 'Confirm password', :class => 'text' %>
      <%= form.password_field :password_confirmation, :class => 'text' %>
      <div class="required">*</div>
      <%= error_message_on @user, :password_confirmation, :prepend_text => 'Password confirmation ' %>
    </div>
  </fieldset>
  <% if @user.subscription_level > 0 %>
    <div class="subscription-info">
      <p>You are signing up for the <b><%= @user.subscription_name %></b> subscription, which is <b>US$<%= @user.subscription_amount %></b> per month.</p>
      <p>There is a <b>30 day trial period</b>, which means that you won't be billed unless you keep your subscription going past the 30 days. You can cancel your subscription at any time via your account page.</p>
      <p>Transactions are handled through <b>PayPal</b>, but you don't need a PayPal account to sign up for TypeFront. Any credit or debit card will do.</p>
    </div>
  <% end %>
  <fieldset>
    <div class="accept-terms">
      <%= check_box_tag 'accept_terms', @accept_terms %><label for="accept_terms">I have read and understood the <%= link_to 'Terms of Service', terms_url %></label>
    </div>
  </fieldset>
  <div>
    <%= form.hidden_field :subscription_level %>
    <% if @user.subscription_level > 0 %>
      <%= image_submit_tag PAYPAL_CONFIG[:button_image], :class => 'submit-paypal' %>
    <% else %>
      <%= form.submit "Sign up", :class => 'submit' %>
    <% end %>
  </div>
<% end %>
