<% @title = "Sign up" %>
<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'common/forms', 'users/new' %>
<% end %>
<h1>sign up</h1>
<% form_for @user, :html => { :id => 'new-user-form' } do |form| %>
  <fieldset>
    <%= form.label :email, nil, :class => 'text' %>
    <%= form.text_field :email, :class => 'text' %>
    <%= error_message_on @user, :email, :prepend_text => 'Email address ' %>
  </fieldset>
  <fieldset>
    <%= form.label :password, nil, :class => 'text' %>
    <%= form.password_field :password, :class => 'text' %>
    <%= error_message_on @user, :password, :prepend_text => 'Password ' %>
  </fieldset>
  <fieldset>
    <%= form.label :password_confirmation, 'Confirm password', :class => 'text' %>
    <%= form.password_field :password_confirmation, :class => 'text' %>
    <%= error_message_on @user, :password_confirmation, :prepend_text => 'Password confirmation ' %>
  </fieldset>
  <fieldset><%= form.submit "Sign up", :class => 'submit' %></fieldset>
<% end %>
