<% @title = "My account" %>
<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'users/show' %>
<% end %>
<h1>My account</h1>
  <div id="account-details">
    <p>You are currently on the <b><%= current_user.subscription_name %></b> plan<%= current_user.subscription_level > 0 ? " at <b>$#{current_user.subscription_amount}</b> a month" : '' %>.</p>
  <p><%= link_to 'Upgrade or downgrade', upgrade_url, :class=> 'upgrade-button' %></p>
  <% if !current_user.subscription_renewal.blank? %>
    <p>Next billing date: <%= "#{current_user.subscription_renewal.strftime('%B')} #{current_user.subscription_renewal.day}" %></p>
    <p class="action"><%= link_to 'Change billing details', account_update_url, :class => 'change-details-link' %></p>
    <p class="action"><%= link_to 'Change email address or password', edit_password_url, :class => 'change-details-link' %></p>
  <% end %>
  <h2>Plan usage</h2>
  <div class="progress-bar">
    <div class="progress-foreground" style="width: <%= (current_user.fonts.count / current_user.fonts_allowed.to_f) * 316.to_i %>px">&nbsp;</div>
    <div class="progress-label">
      <%= current_user.fonts.count %> of <%= current_user.fonts_allowed > 50000 ? 'unlimited' : current_user.fonts_allowed %> fonts
    </div>
  </div>
  <p><%= link_to 'Cancel my account', current_user, :method => :delete, :class => 'cancel-link', :confirm => 'Are you sure you want to delete your account? Your login details will be removed, and any font files you have uploaded will not be recoverable.' %></p>
</div>
