- @title = @token ? 'Set a new password' : 'Change password or email address'
- content_for(:styles) do
  = stylesheet_link_tag 'passwords/edit'
- content_for(:scripts) do
  = javascript_include_tag 'jquery', 'hoverlight', 'common/forms', :cache => 'cache/passwords/edit'
%h1= @title
- form_for @user, :url => update_password_path, :html => { :method => 'put', :id => 'change-password-form', :class => 'user-form' } do |form|
  %fieldset
    - unless @token
      %div
        = form.label :email, nil, :class => 'text'
        = form.text_field :email, :class => 'text'
        = error_message_on @user, :email, :prepend_text => 'Email address '
    %div
      = form.label :password, 'New password', :class => 'text'
      = form.password_field :password, :class => 'text'
      = error_message_on @user, :password, :prepend_text => 'Password '
    %div
      = form.label :password_confirmation, 'Confirm password', :class => 'text'
      = form.password_field :password_confirmation, :class => 'text'
      = error_message_on @user, :password_confirmation, :prepend_text => 'Password confirmation '
  %div
    - if @token
      = hidden_field_tag :token, @token
    = form.submit "Submit", :class => 'submit'
    %p.cancel
      or
      = link_to 'Cancel', account_path
