<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'documentation/index' %>
<% end %>
<% @title = 'Developer API Documentation' %>
<h1>Developer API</h1>
<p>
  The TypeFront Application Programming Interface is simply another way
  to manage your fonts &ndash; one that makes it easy for third-party
  and custom tools to programatically access and interact with the
  service.  The API follows the <%= link_to 'REST',
    'http://en.wikipedia.org/wiki/Representational_State_Transfer' %>
  style, and this guide should provide everything you need to implement
  software that works with TypeFront.
</p>
<p>
  You can use any tool such as <%= link_to 'cURL',
  'http://curl.haxx.se/' %> to interact with the TypeFront API, and we
  are also working on TypeFront libraries for your favourite
  programming languages &ndash; so watch this space.
</p>
<h2>Authentication</h2>
<p>
  TypeFront uses a combination of <%= link_to 'HTTP Basic Authentication',
  'http://en.wikipedia.org/wiki/Basic_access_authentication' %> and <%=
  link_to 'SSL', 'http://en.wikipedia.org/wiki/Transport_Layer_Security'
  %> to ensure that only authorised users can interact with your
  account, and to ensure that your password is safe from eavesdropping.
</p>
<h2>Resources and URIs</h2>
<p>
  If you’ve used the TypeFront web site, the URIs in the TypeFront API
  will look familiar. That’s because both views of the application use
  the same URIs. In the REST model, URIs are considered identifiers for
  resources, and each resource can have several representations &ndash;
  such as the standard HTML view and a <%= link_to 'JSON',
  'http://en.wikipedia.org/wiki/JSON' %> version. Here are the JSON
  versions of the URIs available in the API:
</p>
<dl>
  <dt>List fonts</dt>
  <dd>
    <p><b>URI:</b> <%= $HOST_SSL %>/fonts.json</p>
    <p><b>Method:</b> GET</p>
    <p><b>Example cURL command:</b></p>
    <p class="code">curl --user john@somebody.com:password <%= $HOST_SSL %>/fonts.json</p>
    <p><b>Example response:</b></p>
    <pre>[{"font": 
  {"font_family": "Droid Sans", 
  "font_subfamily": "Regular", 
  "id": 101}}, 
{"font": 
  {"font_family": "Droid Serif", 
  "font_subfamily": "Bold", 
  "id": 102}}, 
{"font": 
  {"font_family": "Graublau Web", 
  "font_subfamily": "Regular", 
  "id": 103}}]</pre>
  </dd>
  <dt>Get font details</dt>
  <dd>
    <p><b>URI:</b> <%= $HOST_SSL %>/fonts/<em>[id]</em>.json</p>
    <p><b>Method:</b> GET</p>
    <p><b>Required parameters:</b> id</p>
    <p><b>Example cURL command:</b></p>
    <p class="code">curl --user john@somebody.com:password <%= $HOST_SSL %>/fonts/101.json</p>
    <p><b>Example response:</b></p>
    <pre>{"font": 
  {"id": 101,
  "font_family": "Droid Sans", 
  "font_subfamily": "Regular",
  "copyright": "Digitized data copyright  2007, Google Corporation.", 
  "manufacturer": "Ascender Corporation", 
  "trademark": "Droid is a trademark of Google and may be registered in certain jurisdictions.", 
  "license": "Licensed under the Apache License, Version 2.0",
  "license_url": "http://www.apache.org/licenses/LICENSE-2.0", 
  "description": "Droid Sans is a humanist sans serif typeface designed for user interfaces and electronic communication.", 
  "version": "Version 1.00", 
  "vendor_url": "http://www.ascendercorp.com/",
  "designer_url": "http://www.ascendercorp.com/typedesigners.html", 
  "example_include_code": "@font-face {\n  font-family: \"Droid Sans\";\n  src: url(<%= $HOST %>/fonts/41.eot);\n  font-weight: normal;\n  font-style: normal;\n}\n\n@font-face {\n  font-family: \"Droid Sans\";\n  src: url(<%= $HOST %>/fonts/41.woff) format(\"woff\"),\n       url(<%= $HOST %>/fonts/41.otf) format(\"opentype\");\n  font-weight: normal;\n  font-style: normal;\n}", 
  "compatible_full": "Droid Sans",
  "allowed_domains": 
    [{"domain": "http://www.crazypartyhats.com", "id": 201}, 
    {"domain": "http://johnsmith.com", "id": 202}]
  "access_urls": 
    [{"format": "Extended OpenType", "url": "<%= $HOST %>/fonts/41.eot"}, 
    {"format": "OpenType", "url": "<%= $HOST %>/fonts/41.otf"}, 
    {"format": "TrueType", "url": "<%= $HOST %>/fonts/41.ttf"}, 
    {"format": "Scalable Vector Graphics", "url": "<%= $HOST %>/fonts/41.svg"}, 
    {"format": "Web Open Font Format", "url": "<%= $HOST %>/fonts/41.woff"}]}}</pre>
  </dd>
  <dt>Upload new font</dt>
  <dd>
    <p><b>URI:</b> <%= $HOST_SSL %>/fonts/<em>[id]</em>.json</p>
    <p><b>Method:</b> POST</p>
    <p><b>Required parameters:</b> font[original]</p>
    <p><b>Example cURL command:</b></p>
    <p class="code">curl --user john@somebody.com:password --form font[original]=@font.ttf <%= $HOST_SSL %>/fonts.json</p>
    <p><b>Example response:</b></p>
    <pre>{"notice": "Successfully created font."}</pre>
  </dd>
  <dt>Remove font</dt>
  <dd>
    <p><b>URI:</b> <%= $HOST_SSL %>/fonts/<em>[id]</em>.json</p>
    <p><b>Method:</b> DELETE</p>
    <p><b>Required parameters:</b> id</p>
    <p><b>Example cURL command:</b></p>
    <p class="code">curl --user john@somebody.com:password --request DELETE <%= $HOST_SSL %>/fonts/103.json</p>
    <p><b>Example response:</b></p>
    <pre>{"notice": "Successfully removed font."}</pre>
  </dd>
  <dt>Add new allowed domain</dt>
  <dd>
    <p><b>URI:</b> <%= $HOST_SSL %>/fonts/<em>[id]</em>/domains.json</p>
    <p><b>Method:</b> POST</p>
    <p><b>Required parameters:</b> domain[domain]</p>
    <p><b>Example cURL command:</b></p>
    <p class="code">curl --user john@somebody.com:password --data "domain[domain]=http://www.fingerpuppetz.com" <%= $HOST_SSL %>/fonts/102/domains.json</p>
    <p><b>Example response:</b></p>
    <pre>{"notice": "Successfully added allowed domain to font."}</pre>
  </dd>
  <dt>Remove allowed domain</dt>
  <dd>
  <p><b>URI:</b> <%= $HOST_SSL %>/fonts/<em>[id]</em>/domains/<em>[domain_id]</em>.json</p>
    <p><b>Method:</b> DELETE</p>
    <p><b>Required parameters:</b> id, domain_id</p>
    <p><b>Example cURL command:</b></p>
    <p class="code">curl --user john@somebody.com:password --request DELETE <%= $HOST_SSL %>/fonts/101/domains/201.json</p>
    <p><b>Example response:</b></p>
    <pre>{"notice": "Successfully removed domain from allowed list."}</pre>
  </dd>
</dl>
