- @title = 'We &hearts; stats'
- content_for(:styles) do
  = stylesheet_link_tag 'stats/index'
%h1= 'We &hearts; stats'
%h2= 'Total users'
%img{:src => @total_users_url, :alt => 'Total users'}
%h2= 'Plan breakdown'
%img{:src => @plan_breakdown_url, :alt => 'Plan breakdown'}
%h2= 'Font requests served (per day)'
%img{:src => @requests_url, :alt => 'Font requests served (per day)'}
%h2= 'Average response time on font requests (ms)'
%img{:src => @response_times_url, :alt => 'Average response time on font requests (ms)'}
%h2= 'Font formats breakdown'
%img{:src => @formats_breakdown_url, :alt => 'Font formats breakdown'}
