<% @title = 'Log in' %>
<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'common/forms', 'user_sessions/new' %>
<% end %>
<% content_for(:scripts) do %>
  <%= javascript_include_tag 'jquery', 'common/forms' %>
<% end %>
<h1>Log in</h1>
<% form_for @session, :html => { :id => 'new-session-form' } do |form| %>
  <%= form.error_messages %>
  <div>
    <%= form.label :email, nil, :class => 'text' %>
    <%= form.text_field :email, :class => 'text' %>
  </div>
  <div>
    <%= form.label :password, nil, :class => 'text' %>
    <%= form.password_field :password, :class => 'text' %>
  </div>
  <div class="remember-me">
    <%= form.check_box :remember_me %><%= form.label :remember_me %>
  </div>
  <div>
    <%= form.submit 'Log in', :class => 'submit' %>
  </div>
<% end %>
<p>Haven't got an account yet? <%= link_to 'Sign up', new_user_url %>.</p>
