<% @title = 'My fonts' %>
<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'compiled/fonts/index', fonts_url(:id => @font.id, :format => 'css') %>
<% end %>
<% content_for(:scripts) do %>
  <%= javascript_include_tag 'jquery', 'fonts/index' %>
<% end %>

<h1>My fonts</h1>

<div id="upper-pagination">
  <%= will_paginate @fonts %>
</div>

<% if !@fonts.empty? %>
  <ul class="fonts">
  <% @fonts.each do |font| %>
    <li class="font">
      <div class="font-inner">
        <div class="description">
          <h2 class="name font-<%= font.id %>"><%= link_to font.font_family, font, :class => 'name' %></h2>
          <% if !font.font_subfamily.blank? %>
            <div class="face"><%= font.font_subfamily %></div>
          <% end %>
        </div>
        <%= link_to '<span>Remove font</span>', font, :class => 'remove-font', :confirm => 'Are you sure you want to remove this font?', :method => :delete %>
      </div>
    </li>
  <% end %>
  </ul>
<% else %>
  <p class="empty-message">You have not uploaded any fonts yet.</p>
<% end %>

<div id="lower-pagination">
  <%= will_paginate @fonts %>
</div>

<% if @fonts.size < current_user.fonts_allowed %>
<h2 id="new-font-header">Upload a font</h2>
  <% form_for @font, :html => { :id => 'new-font-form', :multipart => true } do |form| %>
    <fieldset>
      <%= form.label :distribution, 'File' %><%= form.file_field :distribution %>
      <%= form.error_message_on :distribution, :prepend_text => 'The font file you uploaded ' %>
    </fieldset>
    <fieldset>
      <%= form.submit 'Upload', :class => 'submit' %>
    </fieldset>
  <% end %>
<% else %>
  <p>You have reached your maximum of <strong><%= current_user.fonts_allowed %></strong> fonts on the <strong><%= current_user.subscription_name %></strong> plan.</p>
  <p><%= link_to 'Upgrade now', upgrade_url, :class => 'submit upgrade-button' %></p>
<% end %>
