<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'common/forms', 'fonts/index', fonts_url(:id => @font.id, :format => 'css') %>
<% end %>
<% content_for(:scripts) do %>
  <%= javascript_include_tag 'jquery', 'fonts/index' %>
<% end %>

<h1>My fonts</h1>

<% if !current_user.fonts.empty? %>
  <ul class="fonts">
  <% current_user.fonts.each do |font| %>
    <li class="font clearfix">
      <div class="font-inner clearfix">
        <div class="description">
          <h2 class="name font-<%= font.id %>"><%= link_to font.font_family, font, :class => 'name' %></h2>
          <% if !font.font_subfamily.blank? %>
            <div class="face"><%= font.font_subfamily %></div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
<% end %>

<h2 id="new-font-header">Upload a font</h2>

<% form_for @font, :html => { :id => 'new-font-form', :multipart => true } do |form| %>
  <fieldset>
    <%= form.label :distribution, 'File' %><%= form.file_field :distribution %>
    <%= form.error_message_on :distribution, :prepend_text => 'The font file you uploaded ' %>
  </fieldset>
  <fieldset>
    <%= form.submit 'Upload', :class => 'submit' %>
  </fieldset>
<% end %>
