- @title = 'My fonts'
- content_for(:styles) do
  = stylesheet_link_tag 'fonts/index', fonts_path(:format => 'css')
- content_for(:styles_ie7) do
  = stylesheet_link_tag 'fonts/index_ie7'
- content_for(:scripts) do
  = javascript_include_tag 'jquery', 'hoverlight', 'jquery.scrollto', 'jquery.localscroll', 'fonts/index', :cache => 'cache/fonts/index'
- if !@fonts.empty?
  %h1= @title
  #upper-pagination= will_paginate(@fonts)
  - if @fonts.size > 3
    = link_to 'Upload a font', '#new-font-form', :id => 'new-font-link'
  %ul.fonts
    - @fonts.each do |font|
      %li.font
        .font-inner
          .font-description
            %h2{:class => "font-family font-#{font.id}"}= link_to(font.font_family, font, :class => 'name')
            - if !font.font_subfamily.blank?
              .font-subfamily= font.generate_jobs_pending > 0 ? 'currently being processed' : font.font_subfamily
          = link_to('<span>Remove font</span>', font, :class => 'remove-font', :confirm => 'Are you sure you want to remove this font?', :method => :delete)
          - unless font.notices.empty? || font.generate_jobs_pending > 0
            = link_to(pluralize(font.notices.size, 'alert'), font, :class => 'font-alerts', :title => pluralize(font.notices.size, 'alert'))
  #lower-pagination= will_paginate(@fonts)
- else
  #blank-slate
    %p.empty-message= 'Get started with TypeFront! <span>Use the form below to upload a font file.</span>'
- if @allow_upload
  %h2#new-font-header= 'Upload a font'
  %p= 'TrueType (.ttf), OpenType (.otf) and Web Open Font Format (.woff) files can be uploaded.'
  - form_for @font, :html => { :id => 'new-font-form', :multipart => true } do |form|
    %fieldset
      = form.file_field :original
      = form.error_message_on :original, :prepend_text => 'The font file you uploaded '
      = form.error_message_on :original_file_name
    %fieldset#font-advanced-options
      = form.check_box :autohinting_enabled
      = form.label :autohinting_enabled, 'Add autohinting <em>(May improve rendering in Windows for some fonts)</em>'
    %fieldset#font-verification
      = form.check_box :verification
      = form.label :verification, 'I have permission from the font owner to upload this font file and embed it in web pages.'
      = form.error_message_on :verification
    %fieldset
      = form.submit 'Upload', :class => 'submit'
- else
  %p
    You have reached your maximum of 
    %b= current_user.fonts_allowed
    = current_user.fonts_allowed == 1 ? 'font' : 'fonts'
    on the 
    %b= current_user.subscription_name
    plan.
  %p= link_to 'Upgrade now', upgrade_path, :class => 'submit upgrade-button'
