- @title = @font.full_name
- content_for(:styles) do
  = stylesheet_link_tag 'fonts/show', fonts_path(:format => 'css')
- content_for(:styles_ie) do
  = stylesheet_link_tag 'fonts/show_ie'
- content_for(:styles_ie7) do
  = stylesheet_link_tag 'fonts/show_ie7'
- content_for(:styles_ie6) do
  = stylesheet_link_tag 'fonts/show_ie6'
- content_for(:scripts) do
  = javascript_include_tag 'jquery', 'jquery-ui', 'hoverlight', 'open_in_new_window', 'fonts/show', :cache => 'cache/fonts/show'
#font-header
  %h1#font-family{:class => "font-#{@font.id}"}=h @font.font_family
  - if !@font.font_subfamily.blank?
    #font-subfamily=h @font.font_subfamily
  %ul.actions
    %li= link_to 'Remove font', @font, :class => 'remove-font', :confirm => 'Are you sure you want to remove this font?', :method => :delete
#font-tabs
  - @tabs.each do |tab|
    - if tab[0] == @active_tab
      %a{:href => font_tab_path(:id => @font.id, :tab_name => tab[0]), :id => "#{tab[0]}-tab", :class => 'current'}= tab[1]
    - else
      %a{:href => font_tab_path(:id => @font.id, :tab_name => tab[0]), :id => "#{tab[0]}-tab"}= tab[1]
#font-tab-content
  = render :partial => "fonts/show/#{@active_tab.underscore}"
%p.back-link= link_to '&laquo; Back to My fonts', fonts_path
