- @title = @font.full_name
- content_for(:styles) do
  = stylesheet_link_tag 'fonts/show', fonts_path(:format => 'css')
- content_for(:styles_ie) do
  = stylesheet_link_tag 'fonts/show_ie'
- content_for(:styles_ie7) do
  = stylesheet_link_tag 'fonts/show_ie7'
- content_for(:styles_ie6) do
  = stylesheet_link_tag 'fonts/show_ie6'
- content_for(:scripts) do
  = javascript_include_tag 'jquery', 'jquery-ui', 'hoverlight', 'open_in_new_window', 'fonts/show', :cache => 'cache/fonts/show'
#font-header
  %h1#font-family{:class => "font-#{@font.id}"}=h @font.font_family
  - if !@font.font_subfamily.blank?
    #font-subfamily=h @font.font_subfamily
  %ul.actions
    %li= link_to 'Remove font', @font, :class => 'remove-font', :confirm => 'Are you sure you want to remove this font?', :method => :delete
    %li= link_to 'Show font info', 'javascript:void(0)', :class => 'toggle-font-info show-font-info'
  .hr
#font-attributes
  %h2= 'Font information'
  - Font::INFO_FIELDS.each do |field|
    - if !@font.send(field).blank?
      - humanized_field = field.humanize
      - humanized_value = humanized_field.match(/url/) ? link_to(html_escape(@font.send(field)), @font.send(field)) : html_escape(@font.send(field))
      %p
        = "<span>#{humanized_field}</span>:"
        = humanized_value
  .hr
#include-code
  %h2= 'Example code'
  %p#code-description
    Standards-compliant CSS to include this font in your site:
  - form_tag '', :id => 'format-selector' do
    - if @formats.include?('woff')
      %p{:title => 'Web Open Font Format with TrueType outlines. Best (and smallest) format for Firefox users.'}
      = label_tag 'woff', 'WOFF'
      = check_box_tag 'woff', 'woff', true
    - if @formats.include?('ttf')
      %p{:title => 'Raw TrueType font format with TrueType outlines. Better compatibility with older versions of Internet Explorer than OpenType.'}
      = label_tag 'ttf', 'TrueType'
      = check_box_tag 'ttf', 'ttf', true
    - if @formats.include?('otf')
      %p{:title => 'Raw OpenType font format with CFF outlines.'}
      = label_tag 'otf', 'OpenType'
      = check_box_tag 'otf', 'otf', @formats.include?('ttf') ? false : true
    - if @formats.include?('eot')
      %p{:title => 'Extended OpenType with TrueType outlines. Required for Internet Explorer support.'}
      = label_tag 'eot', 'EOT'
      = check_box_tag 'eot', 'eot', true
    - if @formats.include?('svg')
      %p{:title => 'SVG font format. Include this for support on iPhone and older versions of Chrome and Opera.'}
      = label_tag 'svg', 'SVG'
      = check_box_tag 'svg', 'svg', true
    %p{:title => 'These extra lines of CSS help the browser decide which font to use when text is bold or italic. Useful when you are including multiple font files from the same family.'}
    = label_tag 'style', 'Style hints'
    = check_box_tag 'style', 'style', true
  %pre#clipboard-code.code= include_code(@font, :include_markup => true)
  %p
    You can then apply the font to elements in the normal way:
  %pre#apply-code.code= "p { font-family: \"#{@font.font_family}\", sans-serif; }"
  %p
    Example CSS based on the 
    = link_to "'bulletproof' method", 'http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/#smiley'
    by Paul Irish.
  %p#demo-link= "View a #{link_to 'demo page', demo_font_path(@font)}."
  .hr
%h2= 'Allowed domains'
- if !@font.domains.empty?
  %p
    This font is currently allowed to be included into sites with the following domain names:
  %ul.domains.clearfix
    - @font.domains.each do |domain|
      %li.domain
        .domain-name= domain.domain
        = link_to 'remove', font_domain_path(:font_id => @font.id, :id => domain.id), :method => :delete, :class => 'remove-link icon icon-trash hide-text'
- form_for @font, :html => { :id => 'new-domain-form' } do |form|
  %fieldset
    = label_tag 'new_domains', 'Enter the domain names of web sites you would like to use with this font, each on a new line.<br/>Example: http://www.mydomain.com'
    = text_area_tag 'new_domains', nil, :rows => 3, :cols => 10
  %fieldset
    = form.submit 'Add domains', :class => 'submit'
%p.back-link= link_to '&laquo; Back to My fonts', fonts_path
