<% @title = @font.name %>
<% content_for(:styles) do %>
 <%= stylesheet_link_tag 'fonts/show', fonts_url(:id => @font.id, :format => 'css') %>
<% end %>
<% content_for(:scripts) do %>
 <%= javascript_include_tag 'jquery', 'jquery-ui', 'fonts/show' %>
<% end %>

<div id="font-header">
  <h1 class="name font-<%= @font.id %>"><%=h @font.font_family %></h1>
  <% if !@font.font_subfamily.blank? %>
    <div class="face"><%= @font.font_subfamily %></div>
  <% end %>
  <p class="actions">
    <%= link_to 'Remove font', @font, :confirm => 'Are you sure you want to remove this font?', :method => :delete %>
    <%= link_to 'Show font info', 'javascript:void(0)', :class => 'toggle-font-info' %>
  </p>

  <div class="hr"></div>
</div>


<div id="font-attributes">
  <h2>Font information</h2>
  <% Font::TABLE_FIELDS.each do |field| %>
    <% if eval('!@font.' + field + '.blank?') %>
      <p><span><%= ActiveSupport::Inflector::humanize(field) %></span>: <%= eval('@font.' + field) %></p>
    <% end %>
  <% end %>

  <div class="hr"></div>
</div>


<div id="include-code">
  <h2>Include code</h2>
  <p>
  Standards-compliant CSS to include this font in your site:
  </p>
<pre class="code">
@font-face {
  font-family: "<%= @font.font_family %><%= @font.font_subfamily.blank? ? '' : " #{@font.font_subfamily}" %>";
  src: url(<%= font_url(:id => @font.id, :format => 'font') %>);
}
</pre>
  <%= link_to 'Copy to clipboard', 'javascript:void(0)', :class => 'clipboard-link' %>

  <p>
  You can then apply the font to elements in the normal way:
  </p>
<pre class="code">
p { font-family: "<%= @font.font_family %><%= @font.font_subfamily.blank? ? '' : " #{@font.font_subfamily}" %>", sans-serif; }
</pre>
  <%= link_to 'Copy to clipboard', 'javascript:void(0)', :class => 'clipboard-link' %>

  <div class="hr"></div>
</div>

<h2>Allowed domains</h2>
<% if !@font.domains.empty? %>
<p>This font is currently allowed to be included into sites with the following domain names:</p>
<ul class="domains">
  <% @font.domains.each do |domain| %>
    <li class="domain"><%= domain.domain %> <%= link_to 'remove', font_domain_url(:font_id => @font.id, :id => domain.id), :method => :delete, :class => 'remove-link' %></li>
  <% end %>
</ul>
<% end %>
<% form_for @font, :html => { :id => 'new-domain-form' } do |form| %>
  <fieldset>
    <%= label_tag 'new_domains', 'Enter domains you would like to add to the list, each on a new line.' %>
    <%= text_area_tag 'new_domains', nil, :rows => 3, :cols => 10 %>
  </fieldset>
  <fieldset>
    <%= form.submit 'add', :class => 'submit' %>
  </fieldset>
<% end %>
<p class="back-link"><%= link_to 'back to your fonts', home_url %></p>
