<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Fontlicious<%= @title.blank? ? '' : ' &raquo; ' %><%= @title %></title>
    <%= stylesheet_link_tag 'reset', '960', 'base' %>
    <%= yield(:styles) %>
    <%= yield(:scripts) %>
  </head>
  <body>
    <%= yield %>
  </body>
  <% if RAILS_ENV == 'production' %>
    <%= javascript_include_tag 'common/analytics' %>
  <% end %>
</html>
