<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>TypeFront<%= @title.blank? ? '' : ' &raquo; ' %><%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="The font distribution platform that gives designers and font sellers the tools they need to take advantage of the new wave of downloadable font support in web browsers." /> 
    <meta name="keywords" content="font distribution, web font embedding, font face, downloadable font support, WOFF" />
    <meta name="google-site-verification" content="k8HntIiHRPoTvwej1kUqcYo-9Pkb7GJG9FCOXA9A1GQ" />
    <%= yield(:styles) -%>
    <%- unless @content_for_styles_ie7.nil? -%>
      <!--[if lt IE 8]><%= yield(:styles_ie7) -%><![endif]-->
    <%- end -%>
    <%- unless @content_for_styles_ie6.nil? -%>
      <!--[if IE 6]><%= yield(:styles_ie6) -%><![endif]-->
    <%- end -%>
    <%= yield(:scripts) -%>
  </head>
  <body>
    <%= yield -%>
    <% if RAILS_ENV == 'production' -%>
      <%= javascript_include_tag 'common/analytics', :cache => 'cache/common/analytics' %>
    <% end %>
  </body>
</html>
