!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => 'UTF-8'}
    %title= "TypeFront#{@title.blank? ? '' : ' &raquo; '}#{@title}"
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'description', :content => APP_CONFIG[:description]}
    %meta{:name => 'keywords', :content => APP_CONFIG[:keywords]}
    %meta{:name => 'google-site-verification', :content => APP_CONFIG[:googleverify]}
    = yield(:styles)
    - unless @content_for_styles_ie.nil?
      /[if IE]
        = yield(:styles_ie)
    - unless @content_for_styles_ie7.nil?
      /[if lt IE 8]
        = yield(:styles_ie7)
    - unless @content_for_styles_ie6.nil?
      /[if IE 6]
        = yield(:styles_ie6)
    = yield(:scripts)
  %body
    = yield
    - if Rails.env == 'production'
      = javascript_include_tag 'common/analytics', :cache => 'cache/common/analytics'
