<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>TypeFront<%= @title.blank? ? '' : ' &raquo; ' %><%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= yield(:styles) -%>
    <%- unless @content_for_styles_ie7.nil? -%>
      <!--[if lt IE 8]><%= yield(:styles_ie7) -%><![endif]-->
    <%- end -%>
    <%- unless @content_for_styles_ie6.nil? -%>
      <!--[if IE 6]><%= yield(:styles_ie6) -%><![endif]-->
    <%- end -%>
    <%= yield(:scripts) -%>
  </head>
  <body>
    <%= yield -%>
  </body>
  <% if RAILS_ENV == 'production' -%>
    <%= javascript_include_tag 'common/analytics', :cache => 'cache/common/analytics' %>
  <% end %>
</html>
