!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => 'UTF-8'}
    %title= "TypeFront#{@title.blank? ? '' : ' &raquo; '}#{@title}"
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'description', :content => APP_CONFIG[:description]}
    %meta{:name => 'keywords', :content => APP_CONFIG[:keywords]}
    %meta{:name => 'google-site-verification', :content => APP_CONFIG[:googleverify]}
    = yield(:styles)
    - unless @content_for_styles_ie.nil?
      /[if IE]
        = yield(:styles_ie)
    - unless @content_for_styles_ie7.nil?
      /[if lt IE 8]
        = yield(:styles_ie7)
    - unless @content_for_styles_ie6.nil?
      /[if IE 6]
        = yield(:styles_ie6)
  %body
    #page-wrapper
      #page
        #header
          %h1#logo= link_to image_tag('layouts/standard/logo.png', :alt => 'TypeFront'), current_user ? fonts_path : root_path
        #sidebar
          - unless !current_user || @omit_sidebar
            %ul#menu
              %li#menu-myfonts= link_to 'My fonts', fonts_path
              %li#menu-myaccount= link_to 'My account', account_path
              %li#menu-api= link_to 'Developer API',  '/documentation'
              %li#menu-loggedin
                - if current_user
                  Logged in as
                  = current_user.email
                  = link_to 'Logout', logout_path
                - else
                  Not currently logged in
                  = link_to 'Login', login_path
          #messages
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}"
          &nbsp;
        #body
          = yield
    #footer
      = render :partial => 'layouts/footer'
    = render :partial => 'layouts/analytics'
    = yield(:scripts)
