<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Fontlicious<%= @title.blank? ? '' : ' &raquo; ' %><%= @title %></title>
    <%= stylesheet_link_tag 'reset', '960', 'base', 'layouts/standard' %>
    <%= yield(:styles) %>
    <%= yield(:scripts) %>
  </head>
  <body>
    <div id="page-wrapper">
      <div id="page" class="container_12 clearfix">
        <div id="header">
          <h1 id="logo"><%= link_to "Font<br/><span>licious</span>", home_url %></h1>
        </div>

        <div id="sidebar">
        <% unless @omit_sidebar %>
          <ul id="menu">
            <li id="menu-myfonts"><%= link_to 'My fonts', fonts_url %></li>
            <li id="menu-api"><%= link_to 'Developer API', 'javascript:void(0)' %></li>
            <li id="menu-loggedin">
              <% if current_user %>
              Logged in as <%= current_user.email %><%= link_to 'Logout', logout_url %>
              <% else %>
              Not currently logged in<%= link_to 'Login', login_url %>
              <% end %>
            </li>
          </ul>
        <% end %>

          <div id="messages">
            <%- flash.each do |name, msg| -%>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <%- end -%>
          </div>
          &nbsp;
        </div>

        <div id="body">
          <%= yield %>
        </div>

      </div>
    </div>
    <div id="footer" class="container_12">
      <p class="copyright">&copy; <%= Time.now.year %> Small Spark Pty Ltd (ACN 138 526 511)</p>
      <p class="tos"><%= link_to 'Terms of service', terms_url %></p>
    </div>
  </body>
</html>
