#allowed-domains
  - if !@font.domains.empty?
    %p
      This font is currently allowed to be included into sites with the following domain names:
    %ul.domains.clearfix
      - @font.domains.each do |domain|
        - unless domain.new_record?
          %li.domain
            .domain-name= domain.domain
            - form_for domain, :url => font_domain_path(:font_id => @font.id, :id => domain.id) do |form|
              = hidden_field_tag '_method', 'delete'
              = form.hidden_field :id
              = form.submit 'remove', :class => 'submit'
  - form_for @font, :html => { :id => 'new-domain-form' } do |form|
    %fieldset
      = label_tag 'new_domains', 'Enter the domain names of web sites you would like to use with this font, each on a new line.<br/>Example: http://www.mydomain.com'
      = text_area_tag 'new_domains', nil, :rows => 3, :cols => 10
    %fieldset
      = form.submit 'Add domains', :class => 'submit'
