- format_display_names = { :eot => 'EOT', :otf => 'OpenType', :svg => 'SVG', :ttf => 'TrueType', :woff => 'WOFF'}
#font-information
  #font-attributes
    %p
      = "<span>TypeFront font ID</span>:"
      = @font.id
    - Font::INFO_FIELDS.each do |field|
      - if !@font.send(field).blank?
        - humanized_field = field.humanize
        - humanized_value = humanized_field.match(/url/) ? link_to(html_escape(@font.send(field)), @font.send(field)) : html_escape(@font.send(field))
        %p
          = "<span>#{humanized_field}</span>:"
          = humanized_value
  #font-formats
    %h3= 'Formats'
    %table{:id => 'format-status'}
      - @font.formats.each do |format|
        %tr{:class => format.active ? 'active' : 'disabled'}
          %td{:class => 'format-name'}= format_display_names[format.file_extension.to_sym]
          %td{:class => 'format-size'}= number_to_human_size(format.distribution_file_size)
          %td{:class => 'format-action'}= link_to format.active ? 'Disable' : 'Enable', 'javascript:void(0)'
