#font-information
  #font-attributes
    %p
      = "<span>TypeFront font ID</span>:"
      = @font.id
    - Font::INFO_FIELDS.each do |field|
      - if !@font.send(field).blank?
        - humanized_field = field.humanize
        - humanized_value = humanized_field.match(/url/) ? link_to(html_escape(@font.send(field)), @font.send(field)) : html_escape(@font.send(field))
        %p{:id => "font-attributes-#{humanized_field.parameterize}"}
          = "<span>#{humanized_field}</span>:"
          = humanized_value
  #font-formats
    %h3= 'Formats'
    %table{:id => 'format-status'}
      - @font.font_formats.each do |format|
        = render :partial => 'font_formats/status', :object => format
